*.o
*.d
*.lp

run*
ir-ils-table*
perturb-table*
number-of-families*

.vscode/

graphs/
tables/
objval/
time/
output/
benchmark/

compile-benchmark
compile-heuristic-output
compile-heuristic-calibration
scp-heuristic
*.ods

